@model IEnumerable<EsercitazioneSettimanale1.Models.VerbaleEntity>

@{
    ViewData["Title"] = "Totale verbali trascritti per trasgressore";
}

<h2>Totale verbali trascritti per trasgressore</h2>
<table class="table">
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Numero di Verbali</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.NumeroVerbali</td>
            </tr>
        }
    </tbody>
</table>
