@{
    ViewData["Title"] = "Home Page";
}

<h2>Gestione Contravvenzioni</h2>
<ul>
    <li><a asp-controller="Trasgressore" asp-action="Index">Anagrafare Trasgressori</a></li>
    <li><a asp-controller="Violazione" asp-action="Index">Elenco Violazioni</a></li>
    <li><a asp-controller="Verbale" asp-action="Create">Compilazione Verbale</a></li>
    <li><a asp-controller="Verbale" asp-action="Report">Report</a></li>
</ul>