@model D3.Models.Ticket

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nome">Nome</label>
        <input asp-for="Nome" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Cognome">Cognome</label>
        <input asp-for="Cognome" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Sala">Sala</label>
        <input asp-for="Sala" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Tipo">Tipo di Biglietto</label>
        <select asp-for="Tipo" class="form-control">
            <option value="0">Intero</option>
            <option value="1">Ridotto</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Crea Biglietto</button>
</form>
