@model IEnumerable<dynamic> 

<h2>Statistiche Vendite Biglietti</h2>

<table class="table">
    <thead>
        <tr>
            <th>Sala</th>
            <th>Totale Biglietti Venduti</th>
            <th>Biglietti Ridotti Venduti</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var stat in Model)
    {
        <tr>
            <td>@stat.Sala</td>
            <td>@stat.Totale</td>
            <td>@stat.Ridotti</td>
        </tr>
    }
    </tbody>
</table>
