@model List<MenuModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <form id="menuForm">
        <ul>
            @foreach(var product in Model)
            {
                <li>
                    <input type="checkbox" name="selectedItems" class="menu-item" value="@product.Price" data-name="@product.NameProduct" /> <span>@product.NameProduct</span> <span> € @product.Price</span>
                </li>
            }
        </ul>
        <button type="button" id="confirmSelection" onclick="calculateTotal()">Stampa conto finale e conferma</button>

    </form>
    <div id="selectedMenu"></div>
    <h3 id="totalCost"></h3>
</div>

<script>
    function calculateTotal() {
        const items = Array.from(document.getElementsByClassName('menu-item'));
        let total = 3.00; // Costo del servizio al tavolo
        let selectedMenuHtml = '<h2>Il tuo menu scelto</h2><ul>';

        items.forEach(item => {
            if (item.checked) {
                total += parseFloat(item.value);
                selectedMenuHtml += `<li>${item.dataset.name} - € ${parseFloat(item.value).toFixed(2)}</li>`;
            }
        });

        selectedMenuHtml += '</ul>';
        document.getElementById('selectedMenu').innerHTML = selectedMenuHtml;
        document.getElementById('totalCost').innerText = `Costo Totale: € ${total.toFixed(2)}`;
    }
</script>
