@model List<EsercitazioneSettimanale1.Models.VerbaleEntity>

@{
    ViewData["Title"] = "Totale punti decurtati";
}

<h2>Verbali con totale punti decurtati </h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Totale Punti </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>
