@model List<EsercitazioneSettimanale1.Models.VerbaleEntity>

@{
    ViewData["Title"] = "Verbali con Importo oltre i 400 euro";
}

<h2>Verbali per Trasgressore</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Importo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.Importo</td>


            </tr>
        }
    </tbody>
</table>
